.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 92%;
  padding: 10px;
  margin: auto;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 12px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 80%;
  padding: 10px;
  overflow-y: scroll;
  text-align: left;
}

.create-post {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
}

.btn-action {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.search-button {
  background: url("../../../img/magnifying-glass-icon_32.png") center no-repeat;
  background-size: contain;
}

.more-button {
  background: url("../../../img/hamburger-button-icon_32.png") center no-repeat;
  background-size: contain;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: none;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ccc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#post-content {
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  min-height: 60px;
  resize: none;
  overflow: auto;
}

#post-content:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.25);
}

.post-container {
  display: flex;
  justify-content: space-between;
}

.btn-media {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
}

.btn-media:hover {
  transform: scale(1.05);
}



button.audio-button {
  background: url("../../../img/audio-icon_32.png") center no-repeat;
  background-size: contain;
}

button.video-button {
  background: url("../../../img/video-camera-icon_32.png") center no-repeat;
  background-size: contain;
}

/* for media action */
.media-button-wrapper, .media-action-wrapper  {
  display: flex;
}

button.start-media {
  background: url("../../../img/start-icon_32.png") center no-repeat;
  background-size: contain;
}

button.stop-media {
  background: url("../../../img/stop-icon_32.png") center no-repeat;
  background-size: contain;
}

.timer {
  font-size: 1.5rem;
}

.btn-media:focus {
  outline: none;
}

.modal-chat {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 10px;
  background-color: #fff;
  margin: 15% auto 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  box-sizing: border-box;
  text-align: center;
}

.modal-chat h4 {
  margin-bottom: 10px;
}

.modal-chat p {
  text-align: left;
  margin-bottom: 10px;
}

.modal-chat label {
  display: block;
  text-align: left;
}

.close {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 7px;
  margin: 5px;
}

.btn-modal-wrapper {
  display: flex;
  justify-content: end;
}

.preview-list {
  display: flex;
  gap: 15px;
}
