.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 92%;
  padding: 10px;
  margin: auto;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 12px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 80%;
  padding: 10px;
  overflow-y: scroll;
  text-align: left;
}

.create-post {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.message-form,
.preview-list {
  width: 90%;
}

#post-content {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  min-height: 60px;
  resize: none;
  overflow: auto;
}

#post-content:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.25);
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.btn-action {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-media {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
}

.btn-media:hover,
.btn-action:hover {
  transform: scale(1.05);
}

.btn-media:focus,
.btn-action:focus {
  outline: none;
}

.modal-chat {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 10px;
  background-color: #fff;
  margin: 15% auto 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  box-sizing: border-box;
  text-align: center;
}

.modal-chat h4 {
  margin-bottom: 10px;
}

.modal-chat p {
  text-align: left;
  margin-bottom: 10px;
}

.modal-chat label {
  display: block;
  text-align: left;
  font-weight: 600;
}

.close {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 7px;
  margin: 5px;
}

.btn-modal-wrapper {
  display: flex;
  justify-content: end;
}

.preview-list {
  display: flex;
  gap: 15px;
}
