.more-button {
  background: url("../../../../img/hamburger-button-icon_32.png") center
    no-repeat;
  background-size: contain;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: none;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ccc;
}

.dropdown:hover .dropdown-content {
  display: block;
}
