.actions {
  width: 85%;;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 100%;
}

.search-button {
  background: url("../../../../img/magnifying-glass-icon_32.png") center
    no-repeat;
  background-size: contain;
}

.reminder-button {
  background: url("../../../../img/notification-button-icon.png") center
  no-repeat;
background-size: contain;
}
